<header>
  <!-- <img src="./images/pic.svg" alt="" class="header_img" /> -->
  <img src="./images/logo.svg" alt="" class="header_logo" />

  <h1 class="h1">FIND BEST EVENTS AROUND THE WORLD</h1>
  <div class="search_wraper">
    <input type="text" class="header_input" placeholder="Start searching" />
    <select
      type="text"
      class="header_country header_input"
      placeholder="Choose country"
    >
      <option value="value1" selected>USA</option>
      <option value="value2">Ukraine</option>
      <option value="value3">Italia</option>
      <option value="value4">Deutchland</option>
      <option value="value5">Austria</option>
      <option value="value6">Polska</option>
    </select>
  </div>
</header>
