<main>
  <div class="picture-1">
    <img src="./scss/img/Rectangle 6.png" alt="Евровидение 2021 финал" />
    <p class="pEuro">Евровидение 2021 финал!</p>
    <p class="pDate1">2021-05-13</p>
    <p class="aEuro">место проведения: Украина</p>
  </div>

  <div class="picture-2">
    <img src="./scss/img/Rectangle 6-2.png" alt="Atlas Weekend" />
    <p class="pAtlas">Atlas Weekend</p>
    <p class="pDate2">2021-06-09</p>
    <p class="Vd2">ВДНХ</p>
  </div>

  <div class="picture-3">
    <img src="./scss/img/Rectangle 6-3.png" alt="LP" />
    <p class="pLp">LP</p>
    <p class="p-Date3">2021-07-27</p>
    <p class="aUkr">место проведения: Украина</p>
  </div>

  <div class="picture-4">
    <img src="./scss/img/Rectangle 6-4.png" alt="MONATIK" />
    <p class="MonP">MONATIK</p>
    <p class="pDate4">2021-07-17</p>
    <p class="aVd4">ВДНХ</p>
  </div>

  <!-- Повторяем карточки для создания 5 рядов по 4 карточки -->

  <div class="picture-5">
    <img src="./scss/img/Rectangle 6.png" alt="Евровидение 2021 финал" />
    <p class="pEuro">Евровидение 2021 финал!</p>
    <p class="pDate1">2021-05-13</p>
    <p class="aEuro">место проведения: Украина</p>
  </div>

  <div class="picture-6">
    <img src="./scss/img/Rectangle 6-2.png" alt="Atlas Weekend" />
    <p class="pAtlas">Atlas Weekend</p>
    <p class="pDate2">2021-06-09</p>
    <p class="Vd2">ВДНХ</p>
  </div>

  <div class="picture-7">
    <img src="./scss/img/Rectangle 6-3.png" alt="LP" />
    <p class="pLp">LP</p>
    <p class="p-Date3">2021-07-27</p>
    <p class="aUkr">место проведения: Украина</p>
  </div>

  <div class="picture-8">
    <img src="./scss/img/Rectangle 6-4.png" alt="MONATIK" />
    <p class="MonP">MONATIK</p>
    <p class="pDate4">2021-07-17</p>
    <p class="aVd4">ВДНХ</p>
  </div>

  <!-- Повторяем до 20 карточек -->

  <div class="picture-9">
    <img src="./scss/img/Rectangle 6.png" alt="Евровидение 2021 финал" />
    <p class="pEuro">Евровидение 2021 финал!</p>
    <p class="pDate1">2021-05-13</p>
    <p class="aEuro">место проведения: Украина</p>
  </div>

  <div class="picture-10">
    <img src="./scss/img/Rectangle 6-2.png" alt="Atlas Weekend" />
    <p class="pAtlas">Atlas Weekend</p>
    <p class="pDate2">2021-06-09</p>
    <p class="Vd2">ВДНХ</p>
  </div>

  <div class="picture-11">
    <img src="./scss/img/Rectangle 6-3.png" alt="LP" />
    <p class="pLp">LP</p>
    <p class="p-Date3">2021-07-27</p>
    <p class="aUkr">место проведения: Украина</p>
  </div>

  <div class="picture-12">
    <img src="./scss/img/Rectangle 6-4.png" alt="MONATIK" />
    <p class="MonP">MONATIK</p>
    <p class="pDate4">2021-07-17</p>
    <p class="aVd4">ВДНХ</p>
  </div>

  <div class="picture-13">
    <img src="./scss/img/Rectangle 6.png" alt="Евровидение 2021 финал" />
    <p class="pEuro">Евровидение 2021 финал!</p>
    <p class="pDate1">2021-05-13</p>
    <p class="aEuro">место проведения: Украина</p>
  </div>

  <div class="picture-14">
    <img src="./scss/img/Rectangle 6-2.png" alt="Atlas Weekend" />
    <p class="pAtlas">Atlas Weekend</p>
    <p class="pDate2">2021-06-09</p>
    <p class="Vd2">ВДНХ</p>
  </div>

  <div class="picture-15">
    <img src="./scss/img/Rectangle 6-3.png" alt="LP" />
    <p class="pLp">LP</p>
    <p class="p-Date3">2021-07-27</p>
    <p class="aUkr">место проведения: Украина</p>
  </div>

  <div class="picture-16">
    <img src="./scss/img/Rectangle 6-4.png" alt="MONATIK" />
    <p class="MonP">MONATIK</p>
    <p class="pDate4">2021-07-17</p>
    <p class="aVd4">ВДНХ</p>
  </div>

  <div class="picture-17">
    <img src="./scss/img/Rectangle 6.png" alt="Евровидение 2021 финал" />
    <p class="pEuro">Евровидение 2021 финал!</p>
    <p class="pDate1">2021-05-13</p>
    <p class="aEuro">место проведения: Украина</p>
  </div>

  <div class="picture-18">
    <img src="./scss/img/Rectangle 6-2.png" alt="Atlas Weekend" />
    <p class="pAtlas">Atlas Weekend</p>
    <p class="pDate2">2021-06-09</p>
    <p class="Vd2">ВДНХ</p>
  </div>

  <div class="picture-19">
    <img src="./scss/img/Rectangle 6-3.png" alt="LP" />
    <p class="pLp">LP</p>
    <p class="p-Date3">2021-07-27</p>
    <p class="aUkr">место проведения: Украина</p>
  </div>

  <div class="picture-20">
    <img src="./scss/img/Rectangle 6-4.png" alt="MONATIK" />
    <p class="MonP">MONATIK</p>
    <p class="pDate4">2021-07-17</p>
    <p class="aVd4">ВДНХ</p>
  </div>

  <div id="cardsContainer"></div>

  <div class="pagination"></div>
</main>
