@import './reset.scss';
@import './common.scss';
@import './modal-window.scss';
@import './cardsAndPagination.scss';
@import './footer.scss';
@import './picture.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  background-color: black;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

// scrollbar
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgb(128 128 128 / 0.1);
  border-radius: 20px;
}
